<div class="main-container">
  <div class="box box2">
    <h2>Get Registered on TODO</h2>

    <form [formGroup]="registerForm" id="register" class="user-form">
      <div class="register-box">
        <div class="register-single-field">
          <mat-form-field
            floatLabel="auto"
            appearance="outline"
            class="example-full-width"
          >
            <mat-label>Email</mat-label>
            <input
              type="email"
              id="email"
              matInput
              formControlName="email"
              placeholder="Ex. pat@example.com"
              autocomplete="disabled"
            />
            <mat-error *ngIf="val?.['email']?.errors?.['required']"
              >Email is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="val?.['email']?.errors?.['email'] && !val?.['email']?.errors?.['required']"
            >
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div class="register-single-field">
          <mat-form-field
            floatLabel="auto"
            appearance="outline"
            class="example-full-width"
          >
            <mat-label>Password</mat-label>
            <input
              type="password"
              id="password"
              matInput
              formControlName="password"
              autocomplete="disabled"
            />
            <mat-error *ngIf="val?.['password']?.errors?.['required']"
              >Password is <strong>required</strong></mat-error
            >
            <mat-error
              *ngIf="
            val?.['password']?.errors?.['minlength'] && !val?.['password']?.errors?.['required']
          "
            >
              Please input atleast 3 characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="register-single-field">
          <mat-form-field
            floatLabel="auto"
            appearance="outline"
            class="example-full-width"
          >
            <mat-label>Name</mat-label>
            <input
              type="text"
              id="name"
              matInput
              formControlName="name"
              autocomplete="disabled"
            />
            <mat-error *ngIf="val?.['name']?.errors?.['required']"
              >name is <strong>required</strong></mat-error
            >
            <mat-error
              *ngIf="val?.['name']?.errors?.['minlength'] && !val?.['name']?.errors?.['required']"
            >
              Please input atleast 3 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button
          color="primary"
          mat-raised-button
          type="submit"
          (click)="submitForm()"
          class="user-btn w-100"
        >
          Submit
        </button>
        <p>
          Don't have an account ?
          <span routerLink="/login" class="pointer">Login</span>
        </p>
      </div>
    </form>
  </div>
</div>
